{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Welcome to my personal website! I'm thrilled to have you here. Allow me to introduce myself and give you a
        glimpse into who I am. My name is <strong>Saswat Mishra</strong>, and I am passionate about <em>Technology,
          Music, Computers</em>. Whether it's delving into the depths
        of literature, exploring the intricate world of technology, or immersing myself in the beauty of
        <em>nature</em>, I find
        joy in embracing diverse experiences and learning from them.
      </p>

      <p>I am currently pursuing my B.Tech. in Mechanical Engineering with minor in Computer Science and Engineering.
      </p>
      <p>I am fascinated by the stories and experiences that shape individuals, and I am always eager to engage in
        meaningful conversations
        and forge genuine connections with others. On this website, you will find a collection of my thoughts, musings,
        and creative endeavors.
        Thank you for taking the time to explore my personal corner of the internet.
        <br />
        <em>Warm regards</em>!
        <br />
        Saswat Mishra
      </p>
    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}